<h2>Help</h2>
<p>このアプリケーションサイトは、自分のTweet履歴をカレンダー形式で表示するサイトです。</p>
<p>このサイトはtwitter認証を利用しています。</p>
<p>
このサイトができることはツイート履歴をたどることだけで、
勝手にツイートをポストしたり、他人をフォローしたり外したりすることはできません。
</p>
<p>また、このサイトは自分で自分のツイート履歴を確認することに特化しています。
他人のツイート履歴を見たり、自分の履歴を他人に見せたりすることは現状できません。
ご了承ください。</p>

<h3>使い方</h3>
<ul>
<li>右上にあるLoginをクリックしてください。</li>
<li>Twitter認証ページに進みますので、このアプリケーションサイトを承認してください。</li>
<li>すると、今月のツイート履歴が見れます。</li>
<li>他の月を見たい場合は、カレンダーの上の年や月のリンクをクリックしてください。</li>
<li>ログアウトしたい場合は、右上にあるLogout@twitter_idをクリックしてください。</li>
</ul>
